server {
	server_name _ panger.42.com *.alermolo.42.com;
	listen 127.0.0.1:5000;

	error_pages 403 error_pages/403Forbidden.html;
	body_size 1048;
	location /users/ {
		root uploads/;
		methods_allowed GET POST;
		auto_index off;
		default_file index.html;

		cgi_extension .py /bin/python3;

	}
}


server {
	server_name test.com;
	listen 127.0.0.1:5000;

	error_pages 403 error_pages/403Forbidden.html;
	body_size 1048;
	location /users/ {
		root templates/;
		methods_allowed GET POST;
		auto_index off;
		default_file index.html;

		cgi_extension .py /bin/python3;

	}
}
