server {
	server_name _ panger.42.com *.alermolo.42.com;
	listen 127.0.0.1:5000;

	error_pages 403 error_pages/403Forbidden.html;
	body_size 1048;
	location / {
		root templates/;
		default_file index.html;
	}

	location /users/ {
		root templates/;
		methods_allowed GET POST;
		auto_index off;
		default_file index.html;
		file_upload uploads/;
		cgi_extension .py /bin/python3;
	}
	location /games/ {
		root src/;
		default_file index.html;
		methods_allowed POST DELETE;
	}
}

server {
        listen 3000;

        server_name _;

        location / {
                root includes/;
        }
}