server {
	server_name _ panger.42.com *.alermolo.42.com;
	listen 80.123.35.46;

	error_pages 402 error_pages/402.html;
	body_size 1048;
	location /users/ {
		root templates/;
		methods_allowed GET POST;
		auto_index off;
		default_file index.html;
		file_upload uploads/;
		cgi_extension .py /bin/python3;
		http_redirection http://prout.com;
	}
	location /games/ {
		root src/;
		default_file index.html;
		methods_allowed POST DELETE;
	}
}

server {
        listen 3000;

        server_name _;

        location / {
                try_files $uri $uri/ =404;
                root /root/my_websiste/build;
                index index.html;

                auth_basic "Restricted Access";
                auth_basic_user_file /etc/nginx/.htpasswd;
        }
}